<h1>PiSION</h1>

<h1>{{message}}</h1>

<h2>Directories</h2>
<a href="/basic">BASIC</a>/<a href="/up">Back</a>

<ul>
{{#each dirs}}
	<li><a href="/dir?dir={{@index}}">{{this}}</a></li>
{{/each}}
</ul>

<h2>Files</h2>
<ul>
{{#each disks}}
	<li><a href="/load?disk={{@index}}">{{this}}</li>
{{/each}}
</ul>
