
<style type="text/css">
	.directory
	{
		display: flex;
		flex-wrap: wrap;
	}

	.entry
	{
		display: inline-block;
		padding: 8px;
	}

</style>

<script>

	function updateSearch(e)
	{
		let searchString = e.value;
		let dirs = document.getElementsByClassName("dir");

		if(searchString)
		{
			searchString = searchString.toLowerCase();

			console.log('searching for : [' + searchString + ']');
			for(let i = 0; i < dirs.length; i++)
				dirs[i].style.display = dirs[i].innerText.toLowerCase().startsWith(searchString) ? "inline-block" : "none";
		}
		else
		{
			for(let i = 0; i < dirs.length; i++)
				dirs[i].style.display = "inline-block";
		}
	}

</script>

<h1>PiSION</h1>

<h1>{{message}}</h1>

<h2>Directories</h2>
<a href="/8bit/basic">BASIC</a>/<a href="/8bit/up">Back</a>

<input id="dirSearch" onkeyup="updateSearch(this)" type="text"/>

<div class="directory">
{{#each dirs}}
	<div class="entry dir"><a href="/8bit/dir?dir={{@index}}">{{this}}</a></div>
{{/each}}
</div>

<h2>Files</h2>
<div class="directory">
{{#each disks}}
	<div class="entry disk"><a href="/8bit/load?disk={{@index}}">{{this}}</div>
{{/each}}
</div>
